Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
# 1) - String
s = "Apple"
print(type(str))

<class 'str'>

In [5]:
# 2) - list
l = [1,2,3,4,True,False,"abc",'a','b','c']
print(type(l))

<class 'list'>

In [6]:
# 3) - float
f = 55.46
print(type(f))

<class 'float'>

In [8]:
# 4) - tuple
t = (1,2,3,4,True,False,'a','b')
print(type(t))

<class 'tuple'>

Q2. Given are some following variables containing data:(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [11]:
# 1) 
var1 = ''
print(type(var1))
print("var1 datatype is string.")

<class 'str'>
var1 datatype is string.

In [14]:
# 2)
var2 = '[ DS , ML , Python]'
print(type(var2))
print("var2 datatype is string.")

<class 'str'>
var2 datatype is string.

In [16]:
# 3)
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
print("var3 datatype is list.")

<class 'list'>
var3 datatype is list.

In [17]:
# 4)
var4 = 1
print(type(var4))
print("var4 datatype is integer.")

<class 'int'>
var4 datatype is integer.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
# 1)- /
a = 10
b = 5
print(a/b)
print("The / operator, or division operator, divides two numbers and returns a float value.")

2.0
The / operator, or division operator, divides two numbers and returns a float value.

In [21]:
# 2) - %
print(a%b)
print("The % operator in Python is called the Modulo Operator. It returns the remainder of dividing the left hand operand by right hand operand.")

0
The % operator in Python is called the Modulo Operator. It returns the remainder of dividing the left hand operand by right hand operand.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
l1 = [1,2,True,False,34.5,8.9,'a','b',[1,2],[3,4]]
for i in l1:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'bool'>
True
<class 'bool'>
False
<class 'float'>
34.5
<class 'float'>
8.9
<class 'str'>
a
<class 'str'>
b
<class 'list'>
[1, 2]
<class 'list'>
[3, 4]

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = a/b
#print(c)
while b<=a:
    if a%b==0:
        print("The number a is divisible by (b) ", c , "times.")
        break

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [40]:
l2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l2:
    if i%3==0:
        print(i," is divisible by 3.")
    else:
        print(i," is not divisible by 3.")

1  is not divisible by 3.
2  is not divisible by 3.
3  is divisible by 3.
4  is not divisible by 3.
5  is not divisible by 3.
6  is divisible by 3.
7  is not divisible by 3.
8  is not divisible by 3.
9  is divisible by 3.
10  is not divisible by 3.
11  is not divisible by 3.
12  is divisible by 3.
13  is not divisible by 3.
14  is not divisible by 3.
15  is divisible by 3.
16  is not divisible by 3.
17  is not divisible by 3.
18  is divisible by 3.
19  is not divisible by 3.
20  is not divisible by 3.
21  is divisible by 3.
22  is not divisible by 3.
23  is not divisible by 3.
24  is divisible by 3.
25  is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [1]:
# 1) Mutable Objects - A mutable object can be changed after it is created. Examples : List, Set, Dictionary
l3 = [1,2,3,4,"apple","orange","mango",True,False]
l3[4] = "strawberry"
print(l3)

[1, 2, 3, 4, 'strawberry', 'orange', 'mango', True, False]

In [ ]:
# 2) An immutable object cannot be changed after it is created. Exg: tuples, int, float, bool, frozenset, string.
str2 = "python"
str2[1] = 'a'
print(str2)

TypeError: 'str' object does not support item assignment